---
layout: main
---

<h1>{{ title }}</h1>
<p>{{ author }} </p>
<p>Crated:{{ date | date: "%d-%m-%y" }}Last modified: {{ page.inputPath | gitLastModified | date: "%d-%m-%Y %H:%M:%S" }}</p>
{{ content }}

