---
layout: main
---

<h1>{{ title }}</h1>
<p>{{ author }} </p>
<p>Created: {{ date | date: "%d-%m-%y" }} | Last modified: {{ page.inputPath | gitLastModified | date: "%d-%m-%Y %H:%M:%S" }}</p>
{{ content }}

